<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= data.page.title %> | Middleman</title>
    <!--<%= stylesheet_link_tag 'screen.css' %>-->
  </head>
  <body lang="en">
    <div id="container">
      <header>
        <%= partial "header" %>
        <%= partial "nav" %>
      </header>
      <%= yield %>
      <%= partial "footer" %>
    </div>
  </body>
</html>