---
title: 'ページリスト'
scripts: []
---

<% blog.articles[0...150].each_with_index do |article, i| %>
  <article class="titles">
    <h2><a class="js-pageLink" href="<%= article.url %>"><%= article.title %></a></h2>
    <p>カテゴリー：<%= article.tags[0] %></p>
    <p>ステータス：<%= article.tags[1] %></p>
    <!--<%= article.summary %>-->
  </article>
<% end %>

<script>
(function(){

  //vars
  var pageLink = document.getElementsByClassName('js-pageLink');
  var urlParam = location.href;console.log(urlParam);
  var linkArr = [];

  //subRoutine
  function getLinkArr(){
    var linkStr = '';
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      linkStr = pageLink[i].getAttribute('href');
      linkStr = linkStr.replace('html/', '');
      linkArr.push(linkStr);
    };

    return linkArr;
  };

  function replaceLinkArr(){
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      pageLink[i].setAttribute('href', linkArr[i]);
    };
  };

  function setDevLinkArr(){
    var linkStr = '';
    linkArr = [];
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      linkStr = pageLink[i].getAttribute('href');
      linkStr = linkStr.replace('/', 'html/');
      linkArr.push(linkStr);
    };
  };

  function isDevCheck(){
    if(urlParam.indexOf('?dev') > 0){
      return false;
    }

    return true;
  };

  //init
  if(!isDevCheck()) return;
  getLinkArr();
  replaceLinkArr();

})();
</script>