---
title: 'ページリスト'
layout: management
css: ['bootstrap.css']
scripts: []
---

<table class="table table-bordered table-hover">
  <caption><h2>ページリスト</h2></caption>
  <thead>
    <tr>
      <th>No</th>
      <th>画面名</th>
      <th>グループ</th>
      <th>画面ID</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>

  <% blog.articles[0...150].each_with_index do |article, i| %>
    <tr>
      <td class="pageId"><%= i + 1 %></td>
      <td><a class="js-pageLink" href="<%= article.url %>"><%= article.title %></a></td>
      <td><%= article.tags[0] %></td>
      <td><%= article.tags[1] %></td>
      <td><%= article.tags[2] %></td>
    </tr>
  <% end %>

  </tbody>
</table>

<style>
caption h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background-color: #20aee5;
  padding-left: 10px;
  line-height: 30px;
  text-align: left;
}
</style>

<script>
(function(){

  //vars
  var pageLink = document.getElementsByClassName('js-pageLink');
  var urlParam = location.href;
  var linkArr = [];

  //subRoutine
  function getLinkArr(){
    var linkStr = '';
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      linkStr = pageLink[i].getAttribute('href');
      linkStr = linkStr.replace('html/', '');
      linkArr.push(linkStr);
    };

    return linkArr;
  };

  function replaceLinkArr(){
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      pageLink[i].setAttribute('href', linkArr[i]);
    };
  };

  function setDevLinkArr(){
    var linkStr = '';
    linkArr = [];
    for(var i = 0, I = pageLink.length; i < I; i++ ){
      linkStr = pageLink[i].getAttribute('href');
      linkStr = linkStr.replace('/', 'html/');
      linkArr.push(linkStr);
    };
  };

  function isDevCheck(){
    if(urlParam.indexOf('?dev') > 0){
      return false;
    }

    return true;
  };

  //init
  if(!isDevCheck()) return;
  getLinkArr();
  replaceLinkArr();

})();
</script>